.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.region-image {
    max-width: 800px;
    width: auto;
    height: auto;
    padding: 1rem;
}

.region {
    font-size: 2rem;
    color: var(--cor-principal);
    -webkit-text-stroke: 2px var(--cor-stroke);
    text-transform: capitalize;
}

.pokedex-regions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-size: 1.5rem;
    padding: 2rem;
    color: var(--cor-principal);
    -webkit-text-stroke: 2px #000;
}

@media (max-width: 900px) {
    .region-image {
        width: 600px;
        height: 402px;
        padding: 1rem;
    }
}

@media (max-width: 680px) {
    .region-image {
        width: 400px;
        height: 269px;
        padding: 1rem;
    }
    .detail {
        padding-top: 0;
    }
    .region {
        padding-top: 1rem;
    }
}

@media (max-width: 400px) {
    .region-image {
        width: 350px;
        height: 235px;
        padding: 1rem;
    }
}