#container-detailPokes {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.carrosel {
    overflow: hidden;
    height: 375px;
    width: 375px;
}

.container-pokes {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

main img {
    object-fit: cover;
    height: 375px;
    width: 375px;
}

.details {
    height: 500px;
    width: 350px;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    border: solid 5px #000;
    border-radius: 1rem;
    color: var(--cor-principal);
    -webkit-text-stroke: 1px var(--cor-stroke);
}

.about,
.breeding {
    width: 100%;
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 1rem;
    text-align: start;
    font-size: .9rem;
    gap: 1rem;
    color: #fff;
    -webkit-text-stroke: 0px;
    text-transform: capitalize;
}

.names,
.infos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    -webkit-text-stroke: 1px #000;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

 :root {
    --card-height: 430px;
    --card-width: calc(var(--card-height) / 1.5);
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: #000;
    cursor: pointer;
    font-family: solid;
    flex-direction: column;
}

.card:hover:before,
.card:hover:after {
    animation: none;
}

.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient( var(--rotate), yellow, #6390F0 43%, yellow);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient( var(--rotate), yellow, #6390F0 43%, yellow);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.bar-chart {
    font-family: game;
    text-align: end;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    height: 18px;
    width: 100%;
    font-size: 0.5rem;
    text-transform: capitalize;
    color: #fff;
}

.bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-radius: 2rem;
    border: 1px solid #000;
    max-width: 100%;
}

.value {
    margin-right: 5px;
    color: #fff;
    margin-top: 2.5px;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1REM;
}

.card span {
    color: #000;
    letter-spacing: .2rem;
}

.poke {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.poke img {
    width: auto;
    height: 150px;
}

.poke div {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evolucoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.seta {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.evolution {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: game;
}

.evolution h2 {
    text-transform: capitalize;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

@media (max-width: 1030px) {
    #container-detailPokes {
        flex-direction: column;
        gap: 3rem;
    }
    .evolucoes {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .evolution h1 {
        font-size: 1rem;
    }
}